<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="links" style="display: flex; justify-content: center; gap: 20px; margin-top: 20px;">
    <span [routerLink]="['/movies']" class="link">Movies</span>
    <span [routerLink]="['/shows']" class="link">Shows</span>
    <span [routerLink]="['/favourites']" class="link">Favourites</span>
  </div>

  <div class="trending-header">
    <h2>Trending</h2>
    <div class="toggle-buttons">
      <ion-button (click)="toggleView(true)" [fill]="showMovies ? 'solid' : 'outline'">Movies</ion-button>
      <ion-button (click)="toggleView(false)" [fill]="!showMovies ? 'solid' : 'outline'">TV Shows</ion-button>
    </div>
  </div>

  <ng-container *ngIf="showMovies">
    <div class="grid-container">
      <div class="grid-item" style="position: relative;" *ngFor="let movie of trendingMovies">
        <div class="favorite-icon" (click)="toggleFavorite(movie)">
          <ion-icon [name]="isFavorite(movie) ? 'star' : 'star-outline'"></ion-icon>
        </div>        
        <img class="movie-poster" [src]="'https://image.tmdb.org/t/p/w200' + movie.poster_path" />
        <div class="movie-info">
          <h3>{{ movie.title }}</h3>
          <p>Rating: {{ movie.vote_average | number: '1.2-2' }}</p>
          <p *ngIf="movie.runtime">{{ movie.release_date | date:'yyyy' }} · {{ movie.runtime }}m</p>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="!showMovies">
    <div class="grid-container">
      <div class="grid-item" style="position: relative;" *ngFor="let shows of trendingShows">
        <div class="favorite-icon" (click)="toggleFavorite(shows)">
          <ion-icon [name]="isFavorite(shows) ? 'star' : 'star-outline'"></ion-icon>
        </div>        
        <img class="movie-poster" [src]="'https://image.tmdb.org/t/p/w200' + shows.poster_path" />
        <div class="movie-info">
          <h3>{{ shows.name }}</h3>
          <p>Rating: {{ shows.vote_average | number: '1.2-2' }}</p>
          <p *ngIf="shows.number_of_seasons">{{ shows.first_air_date | date:'yyyy' }} · {{ shows.number_of_seasons }}s</p>
        </div>
      </div>
    </div>
  </ng-container>
</ion-content>